@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin:0px;
    padding: 0px;
}
header{
    background-image: url('assets/bg-header-desktop.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.smalldiv{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}
.logo{
    margin-bottom: 3%;   
}
svg{
    width:200px;
}
.screen-text{
    font-family: "Bai Jamjuree";
    text-align: center;
    margin-bottom: 3%;
    
}
.screen-text h1{
    font-size: 39px;
    font-weight:600;
    color:#4C545C;
    margin-bottom: 2%;
}
.screen-text p{
    color:#9EABB2;
    width:65%;
    margin: 0px auto;
    font-size: 18px;
}
.top-buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.teal-button{
    background: #26BBA4;
    padding: 14px 35px;
    color:#ffff;
    border:none;
    border-bottom: 3px solid #1d8a79;
    font-weight: 500;
    border-radius: 35px;
    font-size: 16px;
    box-shadow: 1px 4px 10px #84ded1;
    font-family: "Bai Jamjuree";
}
.blue-button{
    background-color: #6174FF;
    padding: 14px 35px;
    color:#ffff;
    border:none;
    border-bottom: 3px solid #414eb3;
    font-weight: 500;
    border-radius: 35px;
    font-size: 16px;
    box-shadow: 1px 4px 10px #c5c3c3;
    font-family: "Bai Jamjuree";
}

/* keep track of your snippet */
.screen-text2{
    font-family: "Bai Jamjuree";
    /* border:2px solid yellow; */
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
    
}
.screen-text2 h1{
    /* border:2px solid green;  */
    font-size: 32px;
    font-weight:600;
    color:#4C545C;
    margin-bottom: 2%;
}
.screen-text2 p{
    color:#9EABB2;
    width:46%;
    margin: 0px auto;
    font-size: 15px;
    /* border:2px solid red; */
}
/* computer side  */
section{
    display:flex;
    height: 100vh;
    gap: 4%;
}
.computer-image{
    width:53%; 
}
.computer-image img{
    width: 99%;
    height: 92%;
    margin-left: -5%;
    margin-top: 6%;
}

.divright-texts{
    width:40%;
}
/* text part for the second */
.divright-texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.screen-text3{
    font-family: "Bai Jamjuree";
    width:100%;
    text-align: start;
    margin-bottom: 1%;
}
.screen-text3 h5{
    font-size: 22px;
    color:#4C545C;
    font-weight:600;
    color:#4C545C;
    margin-bottom: 2%;
}
.screen-text3 p{
    color:#9EABB2;
    width:60%;
    font-size: 14px;
    line-height: 1.5rem;

}

/* the devices part */
.Access{
    /* border:2px solid red; */
    margin: 5% 0;
}
.phone-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.phone-tab img{
    width: 70%;
    height:550px;
}

/* the icons part */
.text-icons{
    /* border:2px solid red; */
    
}
.all-texticons{
    display:flex;
    padding: 0 7%;
    margin: 5% 0;
    margin-bottom: 9%;
}
.eachicon{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.eachicon svg{
    width: 40px;
    margin-bottom: 10%;
}
.eachicon h3{
    color:#4C545C;
    font-size: 22px;
    font-weight:600;
    color:#4C545C;
    margin-bottom: 2%;
    font-family: "Bai Jamjuree";
}
.eachicon p{
    color:#9EABB2;
    width:87%;
    text-align: center;
    line-height: 1.8rem;
    font-size: 16px;
}
/* the google icons */
.googleicon{
    display: flex;
    align-items: center;
}
.the-icons{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.the-icons svg{
    align-self: baseline;
}
@media only screen and (min-width: 200px) and (max-width: 767px){
  
 
}
/* ipad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header{
        background-image: url('assets/bg-header-desktop.png');
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border:2px solid green; */
    }

    .smalldiv{
        margin-top: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        margin-bottom: 10%;
    }
    svg{
        width:250px;
        height: 250px;
    }
    .screen-text{
        font-family: "Bai Jamjuree";
        text-align: center;
        margin-bottom: 3%;      
    }
    .screen-text h1{
        font-size: 40px;
        font-weight:600;
        color:#4C545C;
        margin-bottom: 3%;
    }
    .screen-text p{
        color:#9EABB2;
        width:80%;
        margin: 0px auto;
        font-size: 20px;
    }
    .top-buttons{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap:2rem;
    }
    .teal-button{
        background: #26BBA4;
        padding: 20px 35px;
        width: 80%;
        color:#ffff;
        border:none;
        border-bottom: 3px solid #1d8a79;
        font-weight: 500;
        border-radius: 35px;
        font-size: 26px;
        box-shadow: 1px 4px 10px #84ded1;
        font-family: "Bai Jamjuree";
    }
    .blue-button{
        background-color: #6174FF;
        padding: 20px 35px;
        width: 80%;
        color:#ffff;
        border:none;
        border-bottom: 3px solid #414eb3;
        font-weight: 500;
        border-radius: 35px;
        font-size: 26px;
        box-shadow: 1px 4px 10px #c5c3c3;
        font-family: "Bai Jamjuree";
    }

    /* computer side  */
    section{
        display:flex;
        flex-direction: column;
        height: 100vh;
        gap: 4%;
    }
    .computer-image{
        width:80%;
        margin: 5% auto; 
    }
    .computer-image img{
        width: 99%;
        height: 92%;
        margin-left:0;
        margin-top: 6%;
    }

    .divright-texts{
        width:100%;
    }

    /* text part for the second */
    .divright-texts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
        
    }
    .screen-text3{
        font-family: "Bai Jamjuree";
        width:100%;
        text-align: center;
        margin-bottom: 1%;
    }
    .screen-text3 h5{
        font-size: 25px;
        color:#4C545C;
        font-weight:600;
        color:#4C545C;
        margin-bottom: 2%;
    }
    .screen-text3 p{
        color:#9EABB2;
        width:70%;
        font-size: 23px;
        line-height: 2rem;
        margin: 0 auto;
    }

    /* devices */
    .Access{
        margin: 10% 0;
    }
    .phone-tab{
        margin:10% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .phone-tab img{
        width: 80%;
        height:400px;
    }
}
/* phones */
@media only screen and (min-width: 200px) and (max-width: 767px) and (orientation : portrait) {
    header{
        background-image: url('assets/bg-header-desktop.png');
        width: 100%;
        min-height: 100vh;     
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }
    .smalldiv{
        margin-top: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        margin-bottom: 5%;  
    }
    svg{
        width:120px;
    }
    .screen-text{
        font-family: "Bai Jamjuree";
        text-align: center;
        margin-bottom: 5%;
        width:100%;
    }
    .screen-text h1{
        font-size: 35px;
        font-weight:600;
        color:#4C545C;
        margin-bottom: 3%;
        width: 90%;
        margin-left: auto ;
        margin-right: auto ;
    }
    .screen-text p{
        color:#9EABB2;
        width:80%;
        margin: 0px auto;
        font-size: 20px;
    }
    .top-buttons{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap:1rem;
    }
    .teal-button{
        background: #26BBA4;
        padding: 16px 35px;
        width: 80%;
        color:#ffff;
        border:none;
        border-bottom: 3px solid #1d8a79;
        font-weight: 500;
        border-radius: 35px;
        font-size: 16px;
        box-shadow: 1px 4px 10px #84ded1;
        font-family: "Bai Jamjuree";
    }
    .blue-button{
        background-color: #6174FF;
        padding: 16px 35px;
        width: 80%;
        color:#ffff;
        border:none;
        border-bottom: 3px solid #414eb3;
        font-weight: 500;
        border-radius: 35px;
        font-size: 16px;
        box-shadow: 1px 4px 10px #c5c3c3;
        font-family: "Bai Jamjuree";
    }
    /*keep track */
    .screen-text2{
        font-family: "Bai Jamjuree";
        text-align: center;
        margin-bottom: 3%;
        margin-top: 2%;
    }
    .screen-text2 h1{
        font-size: 29px;
        font-weight:600;
        color:#4C545C;
        margin-bottom: 2%;
        width:80%; 
        margin-left: auto;
        margin-right: auto;
    }
    .screen-text2 p{
        color:#9EABB2;
        width:77%;
        margin: 0px auto;
        font-size: 17px;
    }


 /* computer side  */
section{
    display:flex;
    flex-direction: column;
    height: 100vh;
    gap: 4%;
}
.computer-image{
    width:80%;
    margin: 5% auto; 
}
.computer-image img{
    width: 99%;
    height: 92%;
    margin-left:0;
    margin-top: 6%;
}

.divright-texts{
    width:100%;
}
/* text part for the second */
.divright-texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    
}
.screen-text3{
    font-family: "Bai Jamjuree";
    width:100%;
    text-align: center;
    margin-bottom: 1%;
}
.screen-text3 h5{
    font-size: 22px;
    color:#4C545C;
    font-weight:600;
    color:#4C545C;
    margin-bottom: 2%;
}
.screen-text3 p{
    color:#9EABB2;
    width:75%;
    font-size: 15px;
    line-height: 1.5rem;
    margin: 0 auto;
}
/* the devices part */
.Access{
    /* border:2px solid red; */
    margin: 5% 0;
}
.phone-tab{
    margin:10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-tab img{
    width: 80%;
    height:220px;
}
}