@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin:0px;
    padding: 0px;
}
header{
    background-image: url('assets/bg-header-desktop.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* gap:2rem; */
    justify-content: center;
    align-items: center;
}
.logo{
    /* border:2px solid green; */
    margin-bottom: 3%;

    
}
svg{
    width:110px;
}
.screen-text{
    font-family: "Bai Jamjuree";
    /* border:2px solid yellow; */
    text-align: center;
    margin-bottom: 3%;
    
}
.screen-text h1{
    /* border:2px solid green;  */
    font-size: 39px;
    font-weight:650;
    color:#4C545C;
    margin-bottom: 3%;
}
.screen-text p{
    color:#9EABB2;
    width:65%;
    margin: 0px auto;
    font-size: 18px;
    /* border:2px solid red; */
}
.top-buttons{
    /* border:2px solid yellow; */
    /* font-family: "Bai Jamjuree"; */
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.teal-button{
    background: #26BBA4;
    padding: 14px 35px;
    color:#ffff;
    border:none;
    border-bottom: 3px solid #1d8a79;
    font-weight: 500;
    border-radius: 35px;
    font-size: 16px;
    box-shadow: 1px 4px 10px #84ded1;
    font-family: "Bai Jamjuree";
}
.blue-button{
    background-color: #6174FF;
    padding: 14px 35px;
    color:#ffff;
    border:none;
    border-bottom: 3px solid #414eb3;
    font-weight: 500;
    border-radius: 35px;
    font-size: 16px;
    box-shadow: 1px 4px 10px #c5c3c3;
    font-family: "Bai Jamjuree";
}
